@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    background-color: black;
}

/* navigation links including logo*/

nav ul {
    list-style: none;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    letter-spacing: 5px;
    line-height: 20px;
    height: 30px;
    display: inline-block;
    margin: 2.5%;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover {
    background-color: black;
    color: #ff0000;
}

/* css styling for page indication for the user*/
.active {
    border-bottom: 1px solid #ffffff;
}

.logo-image img{
    width: 60%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for header logo image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*for page styling across all pages*/
hr {
    border-top: 0.2px solid grey;
    margin-left: 20px;
    margin-right: 20px;
}

/*styling for text across all pages*/
section {
    color: #ffffff;
    text-align: center;
}

.intro-text {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

/*youtube links for home page*/
.youtube {
    display: inline-block;
}

/*styling for new Hyperion artwork/logo*/
.new-artwork {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*styling for header across all pages*/
h1, h2 {
    font-family: 'Cinzel', serif;
    color: darkgrey;
    text-align: center;
    letter-spacing: 4px;
}

/*social links in footer*/
footer {
    height: 20px;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}

.social-links a:hover {
    color: #ff0000;
}

/* code for styling the gallery photos*/
.gallery-photos {
    width:40%;
    display: inline-block;
    position: relative; 
}

/*image for tours section*/
.container {
    width: 100%;
    opacity: 1;
    margin: 50px 0;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;

}
/*text for tour sections*/
.tour-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    line-height: 50px;
}

/* all styling for booking information page*/
.booking-section {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    background: url(images/bonus-detailed-art-blood-min.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 8%;
    width: 80%;   
}

.booking-form {
    color: #fff;
    position: relative;
}

/*to allow the form to be spread horizontally to minimise scrolling*/
.column {
    padding-top: 20px;
    padding-bottom: 20px;
    column-count: 2;
}

label, input {
    display: grid;
    margin-bottom: 5px;
}

label {
    width: 150px;
    padding-left: 20px;
}

input {
       background-color: black;
       color: #fff;
}

/*styling for book button including a hover feature with a color change*/
.book-button{
    margin-left: 0px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 100%;
    background-color: #000000;
    color: #ff0000;
    display: block;
}

.book-button:hover {
    background-color: #ffffff;
    color: #ff0000;
}


/*styling for merch page and it's images*/
.merch {
    display: inline-block;
    position: relative;
    margin: 15px;
}

/*Fall of the city states page*/
.tracks{
    text-align: center;
    position: center;
}

.toxic {
    width: 80%;
    background-repeat: no-repeat;
    margin: 40px;
}

/*this section is all for media queries to make each page responsive to different devices*/

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .img-fluid {
        width: 65%;
        height: 200px;
        margin: 0 auto;
    }

    .nibiru {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .new-artwork {
        width: 70%;
    }

    .gallery-photos {
        width: 80%;
        height: auto;
    }
    
    .booking-section .column {
        width: 80%;
    }
}

/* For large to medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    .img-fluid {
        width: 65%;
        height: 200px;
        margin: 0 auto;
    }

    .nibiru {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .new-artwork {
        width: 70%;
    }

    .gallery-photos {
        width: 80%;
        height: auto;
    }
    
    .booking-section .column {
        width: 80%;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 360px) {
    /*home page responsive styling*/
.img-fluid {
    width: 65%;
    margin: 0 auto;
    height: auto;
    }

.nibiru {
    width: 80%;
    height: auto;
    margin: 0 auto;
    }   

.new-artwork {
    width: 70%;
    height: auto;
    }

.container {
    height: auto;
    }







    /*tours page responsive styling for text*/
.tour-text {
    height: auto;
    line-height: 5px;   
    }

}