@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel Decorative', cursive;
    background-color: black;
}

/* navigation links including logo*/

nav ul {
    list-style: none;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    letter-spacing: 4px;
    line-height: 20px;
    height: 30px;
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover {
    background-color: black;
    color: #ff0000;
}

/* css styling for page indication for the user*/
.active {
    border-bottom: 1px solid #ffffff;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

hr {
    border-top: 0.5px solid #fff;
    margin-left: 20px;
    margin-right: 20px;
}

section {
    color: #ffffff;
    text-align: center;
}

/*youtube links for home page*/
.youtube {
    display: inline-block;
}



